/* PrismJS 1.29.0
/**
 * https://prismjs.com/
 * This is dark and light themes combined in one CSS file
 * toggleable with .light_mode class on body
 */

:root {
    --prismjs_color-1: #f8f8f2;
    --prismjs_color-2: rgba(0, 0, 0, 0.3);
    --prismjs_color-3: #272822;
    --prismjs_color-4: #8292a2;
    --prismjs_color-5: #f92672;
    --prismjs_color-6: #ae81ff;
    --prismjs_color-7: #a6e22e;
    --prismjs_color-8: #e6db74;
    --prismjs_color-9: #66d9ef;
    --prismjs_color-10: #fd971f;
}
.light_mode {
    --prismjs_color-1: black;
    --prismjs_color-2: white;
    --prismjs_color-3: #f5f5f5;
    --prismjs_color-4: #8292a2;
    --prismjs_color-5: #905;
    --prismjs_color-6: #d1740a;
    --prismjs_color-7: #690;
    --prismjs_color-8: rgb(192, 125, 0);
    --prismjs_color-9: #07a;
    --prismjs_color-10: #d1740a;
}

 code[class*="language-"],
 pre[class*="language-"] {
     color: var(--prismjs_color-1);
     background: none;
     text-shadow: 0 1px var(--prismjs_color-2);
     font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
     font-size: 1em;
     text-align: left;
     white-space: pre;
     word-spacing: normal;
     word-break: normal;
     word-wrap: normal;
     line-height: 1.5;
 
     -moz-tab-size: 4;
     -o-tab-size: 4;
     tab-size: 4;
 
     -webkit-hyphens: none;
     -moz-hyphens: none;
     -ms-hyphens: none;
     hyphens: none;
 }
 
 /* Code blocks */
 pre[class*="language-"] {
     padding: 1em;
     margin: .5em 0;
     overflow: auto;
     border-radius: 0.3em;
 }
 
 :not(pre) > code[class*="language-"],
 pre[class*="language-"] {
     background: var(--prismjs_color-3);
 }
 
 /* Inline code */
 :not(pre) > code[class*="language-"] {
     padding: .1em;
     border-radius: .3em;
     white-space: normal;
 }
 
 .token.comment,
 .token.prolog,
 .token.doctype,
 .token.cdata {
     color: var(--prismjs_color-4);
 }
 
 .token.punctuation {
     color: var(--prismjs_color-1);
 }
 
 .token.namespace {
     opacity: .7;
 }
 
 .token.property,
 .token.tag,
 .token.constant,
 .token.symbol,
 .token.deleted {
     color: var(--prismjs_color-5);
 }
 
 .token.boolean,
 .token.number {
     color: var(--prismjs_color-6);
 }
 
 .token.selector,
 .token.attr-name,
 .token.string,
 .token.char,
 .token.builtin,
 .token.inserted {
     color: var(--prismjs_color-7);
 }
 
 .token.operator,
 .token.entity,
 .token.url,
 .language-css .token.string,
 .style .token.string,
 .token.variable {
     color: var(--prismjs_color-1);
 }
 
 .token.atrule,
 .token.attr-value,
 .token.function,
 .token.class-name {
     color: var(--prismjs_color-8);
 }
 
 .token.keyword {
     color: var(--prismjs_color-9);
 }
 
 .token.regex,
 .token.important {
     color: var(--prismjs_color-10);
 }
 
 .token.important,
 .token.bold {
     font-weight: bold;
 }
 .token.italic {
     font-style: italic;
 }
 
 .token.entity {
     cursor: help;
 }
 
 

 