/* inter-regular - vietnamese_latin_greek_cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/inter-v11-vietnamese_latin_greek_cyrillic-regular.woff2") format("woff2"),
       url("/assets/inter-v11-vietnamese_latin_greek_cyrillic-regular.woff") format("woff");
}

/* Dark mode color scheme is default */
:root {
  font-size: 14px;
  font-family: Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
  image-rendering: -webkit-optimize-contrast;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;

  --text-color-primary: #d1d7e0;
  --text-color-secondary: #9F9FA2;
  --bg-color: #212830;
  --bg-color-secondary: #425164;
  --link-color: #70a9e4;
  --link-color-hover: #fff;
  --separator-color: #2e3a4d;

  --ftype-color-shared: #7575ff;
  --ftype-color-client: #FF0000;
  --ftype-color-server: #FF7F00;

  --logo-filter: brightness(100%);
}
.light_mode {
  --text-color-primary: #1a1a1a; /* Dark gray for primary text */
  --text-color-secondary: #4f4f4f; /* Medium gray for secondary text */
  --bg-color: #f9f9f9; /* Light grayish white for background */
  --bg-color-secondary: #e6e6e6; /* Slightly darker gray for secondary background */
  --link-color: #2a72c4; /* Rich blue for links */
  --link-color-hover: #0045a6; /* Darker blue for link hover */
  --separator-color: #cccccc; /* Light gray for separators */

  --ftype-color-shared: #5a5ad8; /* Slightly muted purple */
  --ftype-color-client: #c40000; /* Vibrant red */
  --ftype-color-server: #ff7400; /* Vibrant orange */

  --logo-filter: brightness(0%);
}

.small-fs {
  font-size: 0.8em;
}

body {
  color: var(--text-color-primary);
  background-color: var(--bg-color);
}

html, body {
  margin: 0;
  padding: 0;
}

code {
  margin: 0;
  padding: 0;
}

a {
  color: var(--link-color);
  border: 0;
  transition: color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  text-decoration: none;
}

a:hover {
  color: var(--link-color-hover);
  text-decoration: none;
}

h1 {
  padding: 0;
  margin: 0;
}
li, p {
  line-height: 1.5em;
}

hr {
  margin: 2em 0;
  border: 1px solid var(--separator-color);
  border-radius: 2px;
}

.floating-right1 {
  float: right;
  font-size: 1.8em;
  padding-top: 2px;
}

footer {
  border-top: 1px solid var(--separator-color);
  color: var(--text-color-secondary);
  padding: 1em 0;
  text-align: center;
}
footer p {
  margin-top: 1em;
  margin-bottom: 1em;
}


header {
  background: var(--bg-color) url(/assets/color-strip.png) no-repeat left bottom / 100% 3px;
  overflow: hidden;
}

#tog-color-mode-btn {
  width: 12px;
  fill: var(--text-color-primary);
  cursor: pointer;
  background: var(--bg-color-secondary);
  padding: 8px 11px;
  border-radius: 20px;
}

#logo {
  max-width: 70%;
  max-height: 100%;
  filter: var(--logo-filter);
}
#logo:hover {
  opacity: 0.8;
}
#logo-wrapper {
  height: 52px;
  position: relative;
  padding: 16px;
  margin: 0 auto;
}
.preview-badge {
    position: absolute;
    top: 10px;
    left: 16px;
    background-color: var(--bg-color-secondary);
    color: var(--text-color-primary);
    padding: 0.25em 0.5em;
    font-size: 0.75em;
    font-weight: bold;
    border-radius: 0.25em;
}


.container {
  display: flex;
}

.sidebar {
  padding: 1em;
  border-right: 1px solid var(--separator-color);
  display: block;
  width: 150px;
}
.toggle-sidebar {
  display: none;
  background-color: var(--bg-color-secondary);
  border: none;
  border-radius: 5px;
  color: var(--text-color-primary);
  padding: 0.5rem;
  cursor: pointer;
  font-size: 1.6rem;
  margin-left: auto;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.content {
  flex: 1;
  padding: 1rem;
}

/* Media query for smaller screens */
@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    display: none;
    background-color: var(--bg-color-secondary);
    border: none;
    border: 2px solid var(--separator-color);
    position: absolute;
    right: 0;
  }

  .sidebar.active {
    display: block;
  }

  .content {
    padding: 1rem;
  }

  .toggle-sidebar {
    display: block;
  }
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar ul li {
  margin: 5px 0;
}
.sidebar ul li a {
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}
.sidebar ul li p {
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 0;
  margin: 0;
  color: var(--text-color-secondary);
}

.pad-lr {
  padding-left: 1em;
  padding-right: 1em;
}
