<!-- Title & Description -->
{% if function.type_name == 'shared' %}
    <div class="function-type-title" style="color: #7575ff;">Shared function</div>
    <h1 style="border-bottom: 3px solid #7575ff; padding-bottom: 0.1em;">{{ function.name }}</h1>
    <p style="margin-top: 1em;">{{ function['shared'].description_html }}</p>
{% elif function.type_name == 'client' %}
    <div class="function-type-title" style="color: #FF0000;">Client-side function</div>
    <h1 style="border-bottom: 3px solid #FF0000;">{{ function.name }}</h1>
    <p style="margin-top: 1em;">{{ function['client'].description_html }}</p>
{% elif function.type_name == 'server' %}
    <div class="function-type-title" style="color: #FF7F00;">Server-side function</div>
    <h1 style="border-bottom: 3px solid #FF7F00;">{{ function.name }}</h1>
    <p style="margin-top: 1em;">{{ function['server'].description_html }}</p>
{% endif %}

<!-- Syntax -->
<h2>Syntax</h2>
{% for type_name in ['shared', 'client', 'server'] %}
{% if function[type_name] %}
    {% if function[type_name].parameters %}
        <pre><code class="language-lua">{{ function[type_name].name }}( {% for item in function[type_name].parameters %}{{ item.type }} {{ item.name }}{% if not loop.last %}, {% endif %}{% endfor %} )</code></pre>
        <ul>
        {% for item in function[type_name].parameters %}
            <li>{{ item.type }} <strong>{{ item.name }}</strong> : {{ item.description_html }}</li>
        {% endfor %}
        </ul>
    {% endif %}

{% endif %}
{% endfor %}

{% for type_name in ['shared', 'client', 'server'] %}
{% if function[type_name] %}
    {% if function[type_name].returns %}
        <h2>Returns</h2>
        {% if function[type_name].returns.description_html %}
            <p>{{ function[type_name].returns.description_html }}</p>
        {% endif %}
        <ul>
            {% for item in function[type_name].returns["values"] %}
                <li style="margin-bottom: 1em;">{{ item.type }} {{ item.name }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endif %}
{% endfor %}

<!-- Preview Images -->
{% for type_name in ['shared', 'client', 'server'] %}
    {% if function[type_name] %}

        {% if function[type_name].preview_images %}
            <div>
                {% for image in function[type_name].preview_images %}
                    <p style="margin-top: 1em; margin-bottom: 0.5em;"><em>{{ image.description }}</em></p>
                    <img style="max-height: 150px;" src="{{ image.path_html }}" alt="{{ image.description }}">
                {% endfor %}
            </div>
        {% endif %}
    {% endif %}
{% endfor %}

<!-- Issues -->
{% if function.has_issue %}
<h2>Issues</h2>
{% for type_name in ['shared', 'client', 'server'] %}
    {% if function[type_name] %}
    
        {% if function[type_name].issues %}
            <div>
                <ul>
                {% for issue in function[type_name].issues %}
                    <li>
                        <a target="_blank" href="https://github.com/multitheftauto/mtasa-blue/issues/{{ issue.id }}">
                            mtasa-blue #{{ issue.id }}
                        </a>: {{  issue.description_html }}
                    </li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}

    {% endif %}
{% endfor %}
{% endif %}

<!-- Examples -->
<h2>Examples</h2>
{% for type_name in ['shared', 'client', 'server'] %}
    {% if function[type_name] %}

        {% if function[type_name].examples %}
        <ul>
            {% for example in function[type_name].examples %}
                <li><h3>Example {{ example.number }}
                    {% if type_name == 'client' %}
                    <span style="color: #FF0000;">(Client-side)</span>
                    {% elif type_name == 'server' %}
                    <span style="color: #FF7F00;">(Server-side)</span>
                    {% else %}
                    <span style="color: #7575ff;">(Shared)</span>
                    {% endif %}
                </h3></li>
                <div style="margin-left: 1em;">
                    {% if example.description_html %}
                        {{ example.description_html }}
                    {% endif %}
                    <pre><code class="language-lua">{{ example.code }}</code></pre>
                </div>
            {% endfor %}
        </ul>
        {% endif %}
    {% endif %}
{% endfor %}
{% if not function.has_example %}
    <p>No examples available.</p>
{% endif %}