{% set type_colors = {
    'shared': '#7575ff',
    'client': '#FF0000',
    'server': '#FF7F00'
} %}
{% set info_color = '#ccc' %}

<!-- Title -->
<div class="function-type-title" style="color: {{type_colors[function.type_name]}};">{{ function.type_name|capitalize }} function</div>
<h1 style="border-bottom: 3px solid {{type_colors[function.type_name]}}; padding-bottom: 0.2em;">{{ function.name }} <a class="small-fs" href="#" onclick="copyText('{{ function.name }}', 'copy-{{ function.name }}')"><i class="fa-solid fa-copy"></i> <span id="copy-{{ function.name }}">Copy</span> </a></h1>


<!-- Pair -->
{% for type_name in ['shared', 'server', 'client'] %}
    {% if function[type_name] and function[type_name].pair %}
        <h3>Pair: <a href="/{{ function[type_name].pair }}">{{ function[type_name].pair }}</a></h3>
    {% endif %}
{% endfor %}

<!-- Description -->
{{ function[function.type_name].description_html }}

<!-- Syntax -->
<h2 id="syntax">Syntax <a href="#syntax"><i class="fa-solid fa-link"></i></a></h2>
{% if function.syntaxes.single %}
    {% set syntax = function.syntaxes.single %}
    <div style="padding-left: 1em; margin-top: 1em; border: 1px solid {{ info_color }}; border-radius: 5px;">

    <pre><code class="language-lua">{{ syntax.returns.values_type or 'void' }} {{ function.name }} ( {% for parameter in syntax.arguments.required %}{{ parameter.type }} {{ parameter.name }}{% if not loop.last %}, {% endif %}{% endfor %}{% for parameter in syntax.arguments.optional %}{% if syntax.arguments.required %}, {% endif %}{% if loop.first %}[ {% endif %}{{ parameter.type }} {{ parameter.name }} = {{ parameter.default }}{% if loop.last %} ]{% endif %}{% endfor %} )</code></pre>

    {% if syntax.arguments.required %}
        <h3>Required arguments:</h3>
        <ul>
        {% for item in syntax.arguments.required %}
            <li>{{ item.type }} <strong>{{ item.name }}</strong> : {{ item.description_html }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    {% if syntax.arguments.optional %}
        <h3>Optional arguments:</h3>
        <ul>
            {% for item in syntax.arguments.optional %}
            <li>{{ item.type }} <strong>{{ item.name }}</strong> (default: <em>{{ item.default }}</em>) : {{ item.description_html }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <h3>Returns:</h3>
    {% if syntax.returns.description_html %}
        <p>{{ syntax.returns.description_html }}</p>
    {% endif %}
    <ul>
        {% for item in syntax.returns['values'] %}
            <li>{{ item.type }} {{ item.name }}</li>
        {% endfor %}
    </ul>

    </div>
{% else %}
    {% for type_name in ['server', 'client'] %}
        {% set syntax = function.syntaxes[type_name] %}
        {% if syntax %}
            <div style="padding-left: 1em; margin-top: 1em; border: 1px solid {{ type_colors[type_name] }}; border-radius: 5px;">
            <h3 style="color: {{ type_colors[type_name] }};">{{ type_name|capitalize }}:</h3>

            <pre><code class="language-lua">{{ syntax.returns.values_type or 'void' }} {{ function.name }} ( {% for parameter in syntax.arguments.required %}{{ parameter.type }} {{ parameter.name }}{% if not loop.last %}, {% endif %}{% endfor %}{% for parameter in syntax.arguments.optional %}{% if syntax.arguments.required %}, {% endif %}{% if loop.first %}[ {% endif %}{{ parameter.type }} {{ parameter.name }} = {{ parameter.default }}{% if loop.last %} ]{% endif %}{% endfor %} )</code></pre>

            {% if syntax.arguments.required %}
                <h4>Required arguments:</h4>
                <ul>
                {% for item in syntax.arguments.required %}
                    <li>{{ item.type }} <strong>{{ item.name }}</strong> : {{ item.description_html }}</li>
                {% endfor %}
                </ul>
            {% endif %}

            {% if syntax.arguments.optional %}
                <h4>Optional arguments:</h4>
                <ul>
                    {% for item in syntax.arguments.optional %}
                    <li>{{ item.type }} <strong>{{ item.name }}</strong> (default: <em>{{ item.default }}</em>) : {{ item.description_html }}</li>
                {% endfor %}
                </ul>
            {% endif %}

            <h4>Returns:</h4>
            {% if syntax.returns.description_html %}
                <p>{{ syntax.returns.description_html }}</p>
            {% endif %}
            <ul>
                {% for item in syntax.returns['values'] %}
                    <li>{{ item.type }} {{ item.name }}</li>
                {% endfor %}
            </ul>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

<!-- Preview Images -->
{% if function.has_preview_image %}
<h2 id="images">Preview images <a href="#images"><i class="fa-solid fa-link"></i></a></h2>
{% for type_name in ['shared', 'client', 'server'] %}
    {% if function[type_name] %}

        {% if function[type_name].preview_images %}
            <div style="padding-left: 1em; padding-bottom: 1em; margin-top: 1em; border: 1px solid {{ info_color }}; border-radius: 5px;">
                {% for image in function[type_name].preview_images %}
                    {% if image.description_html %}
                        <p>{{ image.description_html }}</p>
                    {% endif %}
                    <img style="max-height: 150px;" src="{{ image.path_html }}">
                {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endif %}
{% endfor %}
{% endif %}

<!-- Issues -->
{% if function.has_issue %}
<h2 id="issues">Issues <a href="#issues"><i class="fa-solid fa-link"></i></a></h2>
{% for type_name in ['shared', 'client', 'server'] %}
    {% if function[type_name] %}
    
        {% if function[type_name].issues %}
            <div style="padding-left: 1em; margin-top: 1em; border: 1px solid {{ info_color }}; border-radius: 5px;">
                <ul>
                {% for issue in function[type_name].issues %}
                    <li>
                        <a target="_blank" href="https://github.com/multitheftauto/mtasa-blue/issues/{{ issue.id }}">
                            mtasa-blue #{{ issue.id }}
                        </a>: {{  issue.description_html }}
                    </li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}

    {% endif %}
{% endfor %}
{% endif %}

<!-- Examples -->
<h2 id="examples">Examples <a href="#examples"><i class="fa-solid fa-link"></i></a></h2>
{% for type_name in ['shared', 'client', 'server'] %}
    {% if function[type_name] %}

        {% if function[type_name].examples %}
            {% for example in function[type_name].examples %}
                <div style="padding-left: 1em; margin-top: 1em; border: 1px solid {{ type_colors[type_name] }}; border-radius: 5px;">
                    <h3 id="example-{{ example.number }}">Example {{ example.number }} <span style="color: {{ type_colors[type_name] }};">({{ type_name|capitalize }})</span> <a href="#example-{{ example.number }}"><i class="fa-solid fa-link"></i></a></h3>
                    {% if example.description_html %}
                        {{ example.description_html }}
                    {% endif %}
                    <pre><code class="language-lua">{{ example.code }}</code></pre>
                </div>
            {% endfor %}
        {% endif %}
    {% endif %}
{% endfor %}
{% if not function.has_example %}
    <p>No examples available.</p>
{% endif %}