{% set type_colors = {
    'shared': '#7575ff',
    'client': '#FF0000',
    'server': '#FF7F00'
} %}
{% set info_color = '#ccc' %}

<!-- Title -->
<div class="floating-right1" style="color: {{type_colors[function.type_name]}};">{{ function.type_name|capitalize }} function</div>
<h1 style="border-bottom: 3px solid {{type_colors[function.type_name]}}; padding-bottom: 0.2em;">
    <span {% if function.disabled %}style="text-decoration: line-through;"{% endif %}>{{ function.name }}</span>
    <a class="small-fs" href="#" onclick="copyText('{{ function.name }}', 'copy-{{ function.name }}')"><i class="fa-regular fa-copy"></i> <span id="copy-{{ function.name }}"></span> </a>
</h1>

<!-- Disabled Warning -->
{% if function.disabled %}
    <div style="padding-left: 1em; margin-top: 1em; border: 1px solid #FF0000; border-radius: 5px; background-color: rgba(255, 0, 0, 0.1);">
        <h2>This function is disabled!</h2>
        {% if function.disabled != true %}
            <h3>{{ function.disabled }}</h3>
        {% endif %}
    </div>
{% endif %}

<!-- Pair -->
{% for type_name in ['shared', 'server', 'client'] %}
    {% if function[type_name] and function[type_name].pair %}
        <h3>Pair: <a href="/{{ function[type_name].pair }}">{{ function[type_name].pair }}</a></h3>
    {% endif %}
{% endfor %}

<!-- Description -->
{{ function[function.type_name].description_html }}

<!-- Version -->
{% for type_name in ['shared', 'client', 'server'] %}
    {% if function[type_name] %}
        {% if function[type_name].version %}
            {% set version = function[type_name].version %}
            <div class="pad-lr" style="display:inline-block; margin-bottom: 0.5em; border: 1px solid {{ info_color }}; border-radius: 5px;">
            {% if version.added %}
                Added in <strong>{{ version.added }}</strong>
            {% endif %}
            {% if version.removed %}
                Removed in <strong>{{ version.removed }}</strong>
            {% endif %}
            {% if version.deprecated %}
                Deprecated in <strong>{{ version.deprecated }}</strong>
            {% endif %}
            {% if version.replacement %}
                Replaced by <a href="/{{ version.replacement }}">{{ version.replacement }}</a>
            {% endif %}
            </div>
        {% endif %}
    {% endif %}
{% endfor %}

<!-- Meta Properties -->
{% for type_name in ['shared', 'server', 'client'] %}
{% if function[type_name] and function[type_name].meta %}
    {% if function[type_name].meta %}
        {% for meta_item in function[type_name].meta %}
            <div class="pad-lr" style="margin-bottom: 0.5em; border: 1px solid #aaa; border-radius: 5px; background-color: rgba(255, 255, 255, 0.1);">
            {% if meta_item.needs_checking %}
                    <p><strong>Needs checking:</strong> {{ meta_item.needs_checking }}</p>
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}
{% endif %}
{% endfor %}

<!-- Issues -->
{% for type_name in ['shared', 'client', 'server'] %}
    {% if function[type_name] %}
        {% if function[type_name].issues %}
        {% for issue in function[type_name].issues %}
            <div class="pad-lr" style="margin-bottom: 0.5em; border: 1px solid {{ info_color }}; border-radius: 5px; background-color: rgba(255, 255, 0, 0.1);">
                <p><a target="_blank" href="https://github.com/multitheftauto/mtasa-blue/issues/{{ issue.id }}">Issue #{{ issue.id }} (mtasa-blue):</a> {{  issue.description_html }}</p>
            </div>
        {% endfor %}
        {% endif %}
    {% endif %}
{% endfor %}

<!-- Notes -->
{% for type_name in ['shared', 'client', 'server'] %}
    {% if function[type_name] %}
    
        {% if function[type_name].notes %}
            {% for note in function[type_name].notes %}
                <div class="pad-lr" style="margin-bottom: 0.5em; border: 1px solid {{ info_color }}; border-radius: 5px; background-color: rgba(0, 255, 0, 0.1);">
                    <p>{{ note }}</p>
                </div>
            {% endfor %}
        {% endif %}
    {% endif %}
{% endfor %}

<!-- Syntax -->
<h2 id="syntax">Syntax <a href="#syntax"><i class="fa-solid fa-link"></i></a></h2>

{% if function.syntaxes.single %}
    {% set syntax = function.syntaxes.single %}
    <div style="padding-left: 1em; margin-top: 1em; border: 1px solid {{ info_color }}; border-radius: 5px;">

    <pre><code class="language-lua">{{ syntax.returns.values_type or 'void' }} {{ function.name }} ( {% for parameter in syntax.arguments.required %}{{ parameter.type }} {{ parameter.name }}{% if not loop.last %}, {% endif %}{% endfor %}{% for parameter in syntax.arguments.optional %}{% if syntax.arguments.required %}, {% endif %}{% if loop.first %}[ {% endif %}{{ parameter.type }} {{ parameter.name }} = {{ parameter.default }}{% if loop.last %} ]{% endif %}{% endfor %} )</code></pre>

    {% if syntax.arguments.required %}
        <h3>Required arguments:</h3>
        <ul>
        {% for item in syntax.arguments.required %}
            <li>{{ item.type }} <strong>{{ item.name }}</strong>: {{ item.description_html }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    {% if syntax.arguments.optional %}
        <h3>Optional arguments:</h3>
        <ul>
            {% for item in syntax.arguments.optional %}
            <li>{{ item.type }} <strong>{{ item.name }}</strong> (default: <em>{{ item.default }}</em>): {{ item.description_html }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <h3>Returns:</h3>
    {% if syntax.returns.description_html %}
        <p>{{ syntax.returns.description_html }}</p>
    {% endif %}
    <ul>
        {% for item in syntax.returns['values'] %}
            <li>{{ item.type }} {{ item.name }}</li>
        {% endfor %}
    </ul>
    
    </div>
{% else %}
    {% for type_name in ['server', 'client'] %}
        {% set syntax = function.syntaxes[type_name] %}
        {% if syntax %}
        <div style="padding-left: 1em; margin-top: 1em; border: 1px solid {{ type_colors[type_name] }}; border-radius: 5px;">
            <h3 style="color: {{ type_colors[type_name] }};">{{ type_name|capitalize }}:</h3>

            <pre><code class="language-lua">{{ syntax.returns.values_type or 'void' }} {{ function.name }} ( {% for parameter in syntax.arguments.required %}{{ parameter.type }} {{ parameter.name }}{% if not loop.last %}, {% endif %}{% endfor %}{% for parameter in syntax.arguments.optional %}{% if syntax.arguments.required %}, {% endif %}{% if loop.first %}[ {% endif %}{{ parameter.type }} {{ parameter.name }} = {{ parameter.default }}{% if loop.last %} ]{% endif %}{% endfor %} )</code></pre>

            {% if syntax.arguments.required %}
                <h4>Required arguments:</h4>
                <ul>
                {% for item in syntax.arguments.required %}
                    <li>{{ item.type }} <strong>{{ item.name }}</strong>: {{ item.description_html }}</li>
                {% endfor %}
                </ul>
            {% endif %}

            {% if syntax.arguments.optional %}
                <h4>Optional arguments:</h4>
                <ul>
                    {% for item in syntax.arguments.optional %}
                    <li>{{ item.type }} <strong>{{ item.name }}</strong> (default: <em>{{ item.default }}</em>): {{ item.description_html }}</li>
                {% endfor %}
                </ul>
            {% endif %}

            <h4>Returns:</h4>
            {% if syntax.returns.description_html %}
                <p>{{ syntax.returns.description_html }}</p>
            {% endif %}
            <ul>
                {% for item in syntax.returns['values'] %}
                    <li>{{ item.type }} {{ item.name }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    {% endfor %}
{% endif %}



<!-- OOP Syntax -->
{% for type_name in ['shared', 'client', 'server'] %}
    {% if function[type_name] %}
    {% if function[type_name].oop %}
        <h2>OOP syntax <a href="/OOP_Introduction" ><i class="fa-regular fa-circle-question"></i></a></h2>
        
        <div style="padding-left: 1em; margin-top: 1em; border: 1px solid {{ info_color }}; border-radius: 5px;">

        {% if function[type_name].oop.note %}
            <p>{{ function[type_name].oop.note }}</p>
        {% endif %}
        <!-- Method or constructor -->
            {% if function[type_name].oop.constructor %}
                <p><strong>Constructor:</strong> <a href="/{{ function[type_name].oop.constructor|lower }}">{{ function[type_name].oop.constructor|capitalize }}</a>(...)</p>
            {% else %}
                <p><strong>Method:</strong>
                {% if function[type_name].oop.static %}<a href="/{{ function[type_name].oop.entity|capitalize }}">{{ function[type_name].oop.entity|capitalize }}</a>.{{ function[type_name].oop.method }}(...)
                {% else %}<a href="/{{ function[type_name].oop.entity|lower }}">{{ function[type_name].oop.entity }}</a>:{{ function[type_name].oop.method }}(...)
                {% endif %}</p>
                {% if function[type_name].oop.variable %}
                    <p><strong>Variable:</strong> <a href="/{{ function[type_name].oop.entity|lower }}">{{ function[type_name].oop.entity }}</a>.{{ function[type_name].oop.variable }}</p>
                {% endif %}
            {% endif %}

        </div>
    {% endif %}
    {% endif %}
{% endfor %}

<!-- Preview Images -->
{% for type_name in ['shared', 'client', 'server'] %}
    {% if function[type_name] %}

        {% if function[type_name].preview_images %}
            <div style="padding-left: 1em; padding-bottom: 1em; margin-top: 1em; border: 1px solid {{ info_color }}; border-radius: 5px;">
                {% for image in function[type_name].preview_images %}
                    {% if image.description_html %}
                        <p>{{ image.description_html }}</p>
                    {% endif %}
                    <img style="max-height: 150px;" src="{{ image.path_html }}">
                {% endfor %}
            </div>
        {% endif %}
    {% endif %}
{% endfor %}

<!-- Examples -->
<h2 id="examples">Examples <a href="#examples"><i class="fa-solid fa-link"></i></a></h2>
{% for type_name in ['shared', 'client', 'server'] %}
    {% if function[type_name] %}

        {% if function[type_name].examples %}
            {% for example in function[type_name].examples %}
                <div style="padding-left: 1em; margin-top: 1em; border: 1px solid {{ type_colors[type_name] }}; border-radius: 5px;">
                    <h3 id="example-{{ example.number }}">Example {{ example.number }} <span style="color: {{ type_colors[type_name] }};">({{ type_name|capitalize }})</span> <a href="#example-{{ example.number }}"><i class="fa-solid fa-link"></i></a></h3>
                    {% if example.description_html %}
                        {{ example.description_html }}
                    {% endif %}
                    <pre><code class="language-lua">{{ example.code }}</code></pre>
                </div>
            {% endfor %}
        {% endif %}
    {% endif %}
{% endfor %}
{% if not function.has_example %}
    <p>No examples available.</p>
{% endif %}

{% if function.related %}
    <h2 id="see_also">See also <a href="#see_also"><i class="fa-solid fa-link"></i></a></h2>
    {% for related in function.related %}
        {% if related.category %}
            <h3 style="margin-left: 1em;">{{ related.category }}:</h3>
            <ul style="margin-bottom: 1em;">
            {% for item in related['items'] %}
                {% if item.name == function.name %}
                    <li><strong>{{ item.name }}</strong></li>
                {% else %}
                    <li><a href="{{ item.path_html }}">{{ item.name }}</a></li>
                {% endif %}
            {% endfor %}
            </ul>
        {% endif %}
    {% endfor %}
{% endif %}