---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import { getCollection } from 'astro:content';
import { getFunctionInfo } from '@src/utils/functions';

export async function getStaticPaths() {
    const functions = await getCollection('functions');
    return functions.map(func => ({
        params: { func: func.id },
        props: { func },
    }));
}

const { func } = Astro.props;

const funcInfo = getFunctionInfo(func.data);

const funcType = funcInfo.type;
const funcTypePretty = funcInfo.typePretty;

const funcPair = funcInfo.pair;
---

<StarlightPage frontmatter={{
    template: 'doc',
    title: func.id,
    tableOfContents: false,
}}>
    <p><strong>Type:</strong> <span class={"side-"+funcType}>{funcTypePretty}</span></p>

    {funcPair && (
        <p>Pair: <a href={ funcPair }>{ funcPair }</a></p>
    )}

    <p>{ funcInfo.description }</p>
</StarlightPage>
