---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
---
<StarlightPage frontmatter={{
    template: 'doc',
    title: 'All events',
    tableOfContents: false,
}}>
    <p>This page lists all <strong>client-side</strong> and <strong>server-side</strong> events available in the <a href="/lua-api">Lua API</a> organized by category.</p>

    TODO
</StarlightPage>

<script>
    document.querySelectorAll('.side-type-color').forEach(el => {
        const type = el.textContent || '';
        el.classList.add(`side-${type.toLowerCase()}`);
    });

</script>