---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import { getFunctionsByCategory, getFunctionInfo } from '@src/utils/functions';

const functionsByCategory = getFunctionsByCategory();
---
<StarlightPage frontmatter={{
    template: 'doc',
    title: 'All functions',
    tableOfContents: false,
}}>
    <p>This page lists all <strong>client-side</strong>, <strong>server-side</strong> and <strong>shared</strong> functions available in the <a href="/lua-api">Lua API</a> organized by category.</p>

    {Object.entries(functionsByCategory).map(([category, funcs]) => (
        <section>
            <details>
                <summary>{category} functions</summary>
                <ul>
                    {funcs.map(func => (
                        <li><a href={`/${func.id}`}>{func.id}</a> (<span class={"side-"+getFunctionInfo(func.data).type}>{getFunctionInfo(func.data).typePretty}</span>)</li>
                    ))}
                </ul>
            </details>
        </section>
    ))}
</StarlightPage>
