---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
---
<StarlightPage frontmatter={{
    template: 'doc',
    title: 'Server functions',
    tableOfContents: false,
}}>
    <p>This page lists all <strong>server-side</strong> functions available in the <a href="/lua-api">Lua API</a> organized by category.</p>

    TODO
</StarlightPage>
