---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const elements = await getCollection('elements');
  return elements.map(element => ({
    params: { id: element.id },
    props: { element },
  }));
}

const { element } = Astro.props;
---
<StarlightPage frontmatter={{
  template: 'doc',
  title: element.data.name,
  tableOfContents: false,
}}>
  <p>TODO</p>
</StarlightPage>
